@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&display=swap");
:root {
  --primary-color: #CAB000;
  --text-color: #CCCCCC; }

body, html {
  height: 100%;
  background: #333333;
  margin: 0;
  font-family: 'Exo', sans-serif; }

.navbar {
  background: #222222;
  padding: 1em;
  position: fixed;
  z-index: 999;
  width: 100%; }
  .navbar .logo {
    text-decoration: none;
    font-weight: 100;
    color: #CCCCCC;
    font-size: 1.2em; }
    .navbar .logo span {
      color: var(--primary-color); }
  .navbar nav {
    display: none; }
  .navbar .container {
    display: flex;
    place-content: space-between; }
  .navbar .mobile-menu {
    cursor: pointer;
    float: right;
    margin-right: 2.5em; }

nav.menu-btn {
  display: block; }

nav {
  position: fixed;
  z-index: 999;
  width: 40%;
  height: 100vh;
  top: 0;
  right: 0;
  background: #CAB000;
  padding: 1em;
  opacity: 0.99; }
  nav ul.primary-nav {
    margin-top: 5em; }
  nav li a {
    color: #333333;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right; }
    nav li a:hover {
      font-weight: 500; }

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer; }

a {
  color: var(--primary-color); }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

section {
  padding: 5em 2em; }

section.hero-section {
  text-align: center;
  background: url("../images/penroseSvg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%; }

.left-col .subhead {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-color);
  font-size: 1.2em; }
  .left-col .subhead span {
    color: var(--primary-color); }
.left-col h1 {
  color: var(--text-color);
  font-size: 3em;
  line-height: 1.2em;
  margin-top: .2em; }
.left-col .primary-cta {
  background: var(--primary-color);
  color: #333333;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: 500;
  display: inline-block; }

.hero-img {
  width: 70%;
  margin: 3em;
  border-radius: 5em; }

section.products-section {
  background: #222222; }
  section.products-section h2 {
    text-align: center;
    color: var(--text-color);
    font-size: 2em; }

ul.products-list {
  margin: 0;
  padding-left: .1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr)); }
  ul.products-list li {
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative; }
    ul.products-list li:before {
      content: '';
      left: -2em;
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../images/exit.svg");
      background-size: contain;
      margin-right: .5em; }

section.about-section {
  background: var(--primary-color);
  color: #333333; }
  section.about-section h2 {
    text-align: center;
    color: #333333;
    font-size: 2em;
    margin-bottom: 3em; }
  section.about-section li {
    background: #D6BA00;
    text-align: center;
    color: #333333;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em; }
    section.about-section li img {
      width: 10em;
      height: 10em;
      border: 10px solid #D6BA00;
      border-radius: 50%;
      margin-top: -4.5em; }

section.contact-section {
  background: #333333; }
  section.contact-section h2 {
    text-align: center;
    color: var(--text-color);
    font-size: 2em; }
  section.contact-section label {
    display: block;
    color: var(--text-color);
    margin-top: .5em; }
  section.contact-section input, section.contact-section textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid #CCCCCC;
    box-sizing: border-box; }
  section.contact-section input[type="submit"] {
    background-color: var(--primary-color);
    color: #333333;
    font-weight: 500;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer; }
  section.contact-section iframe {
    width: 100%; }

section.footer-section {
  background: var(--primary-color);
  padding: 1em;
  width: 100%; }
  section.footer-section .container {
    display: flex;
    place-content: space-between; }
  section.footer-section .logo {
    text-decoration: none;
    font-weight: 100;
    color: #333333;
    font-size: 1.2em; }
    section.footer-section .logo span {
      color: #000000; }

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none; }

  .navbar .container {
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: unset; }

  .navbar nav {
    display: flex;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0; }
    .navbar nav ul {
      display: flex; }
    .navbar nav a {
      color: #CCCCCC;
      font-size: 1em;
      padding: .1em 1em; }
      .navbar nav a:hover {
        color: #FFFFFF;
        font-weight: 500; }
    .navbar nav ul.primary-nav {
      margin: 0; }
    .navbar nav li.current a {
      font-weight: 500;
      color: var(--primary-color); } }
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto; }

  section {
    padding: 10em 4em; }

  .hero-section .container {
    display: flex;
    justify-content: space-between;
    text-align: left; }
    .hero-section .container .left-col {
      margin: 3em 3em 0 5em; }
      .hero-section .container .left-col .subhead {
        font-size: 2em;
        width: 60%; }
      .hero-section .container .left-col h1 {
        font-size: 4em;
        width: 90%; }

  .hero-img {
    width: 30%;
    margin-right: 8em; }

  .hero-cta {
    display: flex; }

  .primary-cta {
    margin-right: 1em; }

  .products-section {
    align-content: center; }

  .about-section ul {
    display: flex; }
    .about-section ul li {
      margin: 0 1em; }

  .contact-section {
    position: relative; }
    .contact-section .container {
      display: flex; }

  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%; }
    .contact-right iframe {
      height: 100%; } }
